
body {
    margin: 0;
    line-height: normal;
    }
.avecesar-icon {
    position: absolute;
    top: 46px;
    left: -10px;
    width: 101px;
    height: 99px;
    object-fit: cover;
}
.titulo {
    position: absolute;
    top: 17px;
    left: 65px;
}
.mensagem {
    width: 216px;
    position: relative;
    line-height: 150%;
    font-weight: 50;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 21px;
    flex-shrink: 0;
}
.criptografar {
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.buttoncripto {
    width: 89px;
    border-radius: 8px;
    background-color: #000;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    box-sizing: border-box;
    font-size: 8px;
    color: #fff;
}
.mensagem1 {
    width: 320px;
    position: relative;
    line-height: 150%;
    font-weight: 50;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 29px;
    flex-shrink: 0;
}
.area {
    position: absolute;
    width:90vw;
    top: 58px;
    left: 91px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
    font-size: 10px;
    color: #828282;
    font-family: Inter;
}
.tela {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 800px;
    overflow: hidden;
    text-align: left;
    font-size: 30px;
    color: #000;
    font-family: 'Inria Sans';
}



